@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
  }
}

@mixin font-awesome($font-path,$version : 4.0.7){
  @font-face {
    font-family: 'FontAwesome';
    src: url('#{$font-path}.eot?v=#{$version}');
    src: url('#{$font-path}.eot?#iefix&v=#{$version}') format('embedded-opentype'),
    url('#{$font-path}.woff2?v=#{$version}') format('woff2'),
    url('#{$font-path}.woff?v=#{$version}') format('woff'),
    url('#{$font-path}.ttf?v=#{$version}') format('truetype'),
    url('#{$font-path}.svg?v=#{$version}#fontawesomeregular') format('svg');
    //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
    font-weight: normal;
    font-style: normal;
  }
}